In [ ]:
import sqlite3
import matplotlib.pyplot as plt

# рЃЉрЃљрЃќрЃљрЃАрЃЌрЃљрЃю рЃЊрЃљрЃЎрЃљрЃЋрЃерЃўрЃарЃћрЃЉрЃљ
conn = sqlite3.connect("students.sqlite")
cursor = conn.cursor()

# рЃфрЃ«рЃарЃўрЃџрЃћрЃЉрЃўрЃА рЃњрЃљрЃЏрЃЮрЃЕрЃюрЃћрЃюрЃљ
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("рЃфрЃ«рЃарЃўрЃџрЃћрЃЉрЃў рЃЉрЃљрЃќрЃљрЃерЃў:", cursor.fetchall())

In [ ]:
# рЃЋрЃЎрЃўрЃЌрЃ«рЃБрЃџрЃЮрЃЉрЃЌ рЃДрЃЋрЃћрЃџрЃљ рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃА, рЃарЃЮрЃЏрЃћрЃџрЃЌрЃљрЃф рЃљрЃЦрЃЋрЃЌ рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃљрЃерЃў 90-рЃќрЃћ рЃЏрЃћрЃбрЃў рЃЦрЃБрЃџрЃљ
cursor.execute("SELECT gender, `math score` FROM Students WHERE `math score` > 90")
rows = cursor.fetchall()
for row in rows:
    print(row)

# рЃљрЃЏ рЃЎрЃЮрЃЊрЃў рЃЉрЃћрЃГрЃЊрЃљрЃЋрЃА рЃўрЃЏ рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃћрЃЉрЃА, рЃарЃЮрЃЏрЃћрЃџрЃЌрЃљрЃф рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃљрЃерЃў 90-рЃќрЃћ рЃЏрЃћрЃбрЃў рЃЦрЃБрЃџрЃљ рЃљрЃЦрЃЋрЃЌ

In [ ]:
# рЃЕрЃљрЃюрЃљрЃгрЃћрЃарЃўрЃА рЃЊрЃљрЃЏрЃљрЃбрЃћрЃЉрЃљ рЃЏрЃЮрЃЏрЃ«рЃЏрЃљрЃарЃћрЃЉрЃџрЃўрЃА рЃЏрЃўрЃћрЃа рЃерЃћрЃДрЃЋрЃљрЃюрЃўрЃџрЃў рЃЏрЃЮрЃюрЃљрЃфрЃћрЃЏрЃћрЃЉрЃўрЃЌ
gender = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃАрЃЦрЃћрЃАрЃў: ")
race = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃћрЃЌрЃюрЃўрЃЎрЃБрЃарЃў рЃ»рЃњрЃБрЃцрЃў: ")
education = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃЏрЃерЃЮрЃЉрЃџрЃўрЃА рЃњрЃљрЃюрЃљрЃЌрЃџрЃћрЃЉрЃўрЃА рЃЊрЃЮрЃюрЃћ: ")
lunch = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃАрЃљрЃЊрЃўрЃџрЃў (standard/free/reduced): ")
prep = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃбрЃћрЃАрЃбрЃўрЃА рЃЏрЃЮрЃЏрЃќрЃљрЃЊрЃћрЃЉрЃўрЃА рЃЎрЃБрЃарЃАрЃў (none/completed): ")
math = int(input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃўрЃА рЃЦрЃБрЃџрЃљ: "))
reading = int(input("рЃЎрЃўрЃЌрЃ«рЃЋрЃўрЃА рЃЦрЃБрЃџрЃљ: "))
writing = int(input("рЃгрЃћрЃарЃўрЃА рЃЦрЃБрЃџрЃљ: "))

cursor.execute("""
INSERT INTO Students (
    gender, `race/ethnicity`, `parental level of education`, lunch,
    `test preparation course`, `math score`, `reading score`, `writing score`
) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (gender, race, education, lunch, prep, math, reading, writing))
conn.commit()

print("рЃЕрЃљрЃюрЃљрЃгрЃћрЃарЃў рЃЊрЃљрЃЏрЃљрЃбрЃћрЃЉрЃБрЃџрЃўрЃљ.")

# рЃћрЃА рЃЎрЃЮрЃЊрЃў рЃљрЃЏрЃљрЃбрЃћрЃЉрЃА рЃљрЃ«рЃљрЃџ рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃА рЃЉрЃљрЃќрЃљрЃерЃў

In [ ]:
# рЃЕрЃљрЃюрЃљрЃгрЃћрЃарЃўрЃА рЃњрЃљрЃюрЃљрЃ«рЃџрЃћрЃЉрЃљ Рђћ math score рЃЎрЃЮрЃюрЃЎрЃарЃћрЃбрЃБрЃџрЃў рЃърЃўрЃарЃЮрЃЉрЃўрЃЌ
target_gender = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃАрЃЦрЃћрЃАрЃў: ")
new_math = int(input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃљрЃ«рЃљрЃџрЃў рЃЦрЃБрЃџрЃљ рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃљрЃерЃў: "))

cursor.execute("UPDATE Students SET `math score` = ? WHERE gender = ?", (new_math, target_gender))
conn.commit()

print("рЃњрЃљрЃюрЃљрЃ«рЃџрЃћрЃЉрЃљ рЃерЃћрЃАрЃарЃБрЃџрЃћрЃЉрЃБрЃџрЃўрЃљ.")

# рЃЎрЃЮрЃЊрЃў рЃњрЃљрЃюрЃљрЃљрЃ«рЃџрЃћрЃЉрЃА рЃДрЃЋрЃћрЃџрЃљ рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃўрЃА рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃўрЃА рЃЦрЃБрЃџрЃљрЃА рЃЏрЃўрЃЌрЃўрЃЌрЃћрЃЉрЃБрЃџрЃў рЃАрЃЦрЃћрЃАрЃўрЃА рЃЏрЃўрЃ«рЃћрЃЊрЃЋрЃўрЃЌ

In [ ]:
# рЃЕрЃљрЃюрЃљрЃгрЃћрЃарЃўрЃА рЃгрЃљрЃерЃџ
target_race = input("рЃерЃћрЃўрЃДрЃЋрЃљрЃюрЃћ рЃ»рЃњрЃБрЃцрЃў рЃарЃЮрЃЏрЃџрЃўрЃА рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃћрЃЉрЃўрЃф рЃгрЃљрЃўрЃерЃџрЃћрЃЉрЃљ ( лйл░л┐Лђ. group A): ")
cursor.execute("DELETE FROM Students WHERE `race/ethnicity` = ?", (target_race,))
conn.commit()

print("рЃЕрЃљрЃюрЃљрЃгрЃћрЃарЃћрЃЉрЃў рЃгрЃљрЃўрЃерЃљрЃџрЃљ рЃЏрЃўрЃЌрЃўрЃЌрЃћрЃЉрЃБрЃџрЃў рЃ»рЃњрЃБрЃцрЃўрЃА рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃћрЃЉрЃўрЃАрЃЌрЃЋрЃўрЃА.")

# рЃгрЃљрЃерЃџрЃўрЃА рЃДрЃЋрЃћрЃџрЃљ рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃА рЃЏрЃўрЃЌрЃўрЃЌрЃћрЃЉрЃБрЃџрЃў race/ethnicity рЃ»рЃњрЃБрЃцрЃўрЃЊрЃљрЃю

In [ ]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM Students", conn)

# ­ЪЊі рЃЊрЃўрЃљрЃњрЃарЃљрЃЏрЃљ 1 Рђћ рЃ░рЃўрЃАрЃбрЃЮрЃњрЃарЃљрЃЏрЃљ рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃўрЃА рЃЦрЃБрЃџрЃћрЃЉрЃўрЃА
plt.hist(df['math score'], bins=10, color='skyblue')
plt.title("рЃЏрЃљрЃЌрЃћрЃЏрЃљрЃбрЃўрЃЎрЃўрЃА рЃЦрЃБрЃџрЃћрЃЉрЃўрЃА рЃњрЃљрЃюрЃљрЃгрЃўрЃџрЃћрЃЉрЃљ")
plt.xlabel("рЃЦрЃБрЃџрЃљ")
plt.ylabel("рЃАрЃбрЃБрЃЊрЃћрЃюрЃбрЃћрЃЉрЃўрЃА рЃарЃљрЃЮрЃЊрЃћрЃюрЃЮрЃЉрЃљ")
plt.grid(True)
plt.show()

In [ ]:
# ­ЪЊі рЃЊрЃўрЃљрЃњрЃарЃљрЃЏрЃљ 2 Рђћ рЃЉрЃљрЃарЃўрЃА рЃЊрЃўрЃљрЃњрЃарЃљрЃЏрЃљ рЃАрЃЦрЃћрЃАрЃўрЃАрЃљ рЃЊрЃљ рЃАрЃљрЃерЃБрЃљрЃџрЃЮ рЃгрЃћрЃарЃўрЃА рЃЦрЃБрЃџрЃўрЃА рЃЏрЃўрЃ«рЃћрЃЊрЃЋрЃўрЃЌ
avg_scores = df.groupby('gender')['writing score'].mean()
avg_scores.plot(kind='bar', color='orange')
plt.title("рЃАрЃљрЃерЃБрЃљрЃџрЃЮ рЃгрЃћрЃарЃўрЃА рЃЦрЃБрЃџрЃљ рЃАрЃЦрЃћрЃАрЃўрЃА рЃЏрЃўрЃ«рЃћрЃЊрЃЋрЃўрЃЌ")
plt.ylabel("рЃЦрЃБрЃџрЃљ")
plt.grid(axis='y')
plt.show()

In [ ]:
# ­ЪЊі рЃЊрЃўрЃљрЃњрЃарЃљрЃЏрЃљ 3 Рђћ рЃгрЃарЃўрЃБрЃџрЃў рЃЊрЃўрЃљрЃњрЃарЃљрЃЏрЃљ рЃбрЃћрЃАрЃбрЃўрЃА рЃЏрЃЮрЃЏрЃќрЃљрЃЊрЃћрЃЉрЃўрЃА рЃЎрЃБрЃарЃАрЃўрЃА рЃЎрЃљрЃбрЃћрЃњрЃЮрЃарЃўрЃћрЃЉрЃўрЃЌ
prep_counts = df['test preparation course'].value_counts()
prep_counts.plot(kind='pie', autopct='%1.1f%%', startangle=140)
plt.title("рЃбрЃћрЃАрЃбрЃўрЃА рЃЏрЃЮрЃЏрЃќрЃљрЃЊрЃћрЃЉрЃўрЃА рЃЎрЃБрЃарЃАрЃўрЃА рЃАрЃбрЃљрЃбрЃўрЃАрЃбрЃўрЃЎрЃљ")
plt.ylabel("")
plt.show()

conn.close()